<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="{{ url_for('static', filename='img/FixLogo.png') }}" rel="icon">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/login.css')}}"/>

    <title>Inicio de sesión</title>
  
</head>
<body>

    <div class="stars">
        <!-- Generamos 50 estrellas -->
        {% for _ in range(50) %}
            <div class="star"></div>
        {% endfor %}
    </div>
    
    <form method="POST" action="{{ url_for('main.login') }}" class="login-form" id="loginForm">
        {{ form.hidden_tag() }}
        <h1 class="login-title">TheFixers<span>Services</span></h1>
        <div class="input-box">
            <i class='bx bxs-user'></i>
            {{ form.username }}
        </div>
        <div class="input-box">
            <i class='bx bxs-lock-alt'></i>
            {{ form.password }}
        </div>
    
        {{ form.submit(class="login-btn") }}
    </form>


    <script>
        document.getElementById('loginForm').addEventListener('submit', function(e) {
            e.preventDefault();
            
            const formData = new FormData(this);
            
            fetch('{{ url_for("main.login") }}', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.href = data.redirect;
                } else {
                    // Cambiar color de estrellas a rojo gradualmente
                    document.querySelectorAll('.star').forEach(star => {
                        star.style.transition = 'all 1s ease';
                        star.style.setProperty('--star-color', 'rgba(255, 0, 0, 0.8)');
                    });
                    
                    // Volver al color original después de 4 segundos
                    setTimeout(() => {
                        document.querySelectorAll('.star').forEach(star => {
                            star.style.transition = 'all 1s ease';
                            star.style.setProperty('--star-color', 'rgba(255, 255, 255, 0.8)');
                        });
                    }, 4000);
                }
            });
        });
        </script>
</body>
</html>